@keyframes blipAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  
  .button-clicked {
    animation: blipAnimation 0.3s ease;
  }
  

  @font-face {
    font-family: 'Gallient';
    src: url('Gallient.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Garamond';
    src: url('EBGaramond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Basic styling */
body {
    font-family: Arial, sans-serif
    
    
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.full-width-image-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.full-width-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    max-width: 100%;
}

.container h1 {
    margin: 0 10px; /* Add some spacing between the h1 elements */
    white-space: nowrap; /* Prevent line breaks within the h1 elements */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container h1 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
    .container h2 {
        font-size: 1rem; /* Adjust font size for smaller screens */
    }
}

@media (min-width: 769px) {
    .container h1 br {
        display: none;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: transparent;
    
}

header h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px 0;
    padding-top: 140px;
    
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0e5;
    color: #242424;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn2 {
    
    color: #242424;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.btn:hover {
    background-color: #a6b5b6;
}

.btn2:hover {
    color: #a6b5b6;
}

section {
    padding: 20px 0;
}

.project {
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
}

.project p {
    margin-top: 10px;
}

h1 {
    font-size: 200%;
}

footer {
    background-color: #ffffff;
    color: #c0c0c0;
    text-align: center;
    padding: 10px 0;
    font-size: x-small;
}

.video-container {
    
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px; /* Add some horizontal padding */
    box-sizing: border-box; /* Include padding in the container's width */
  }
  
  .video-container video {
    width: 100%;
    height: auto;
    max-width: 100%; /* Ensure the video doesn't exceed its container */
  }


  .image-carousel {
    width: 100%;
    
    white-space: nowrap;
    margin-bottom: 40px;
}

.image-carousel .carousel-container {
    display: inline-flex;
    transition: transform 0.5s ease;
}

.image-carousel .carousel-item {
    flex: 0 0 100%;
    width: 100%;
}

.image-carousel .carousel-item img {
    width: 100%;
    height: auto;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 56.25%
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
  }
  
  .slide.active {
    opacity: 1;
  }